@tailwind base;
@tailwind components;
@tailwind utilities;

/*!* ------------------------- *!*/
/*!* Reset                     *!*/
/*!* ------------------------- *!*/

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Set up the body */
body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    color: #161616;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

nav > a {
    text-decoration: none;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* Custom classes */
/* filter pills */
.filter-pill {
    @apply w-fit font-semibold text-custom-gray bg-tertiary-orange;
}

.simple-hover\:simple:hover, .simple-active {
    @apply bg-simple-pill text-tertiary-orange;
}

.luxury-hover\:luxury:hover, .luxury-active {
    @apply bg-luxury-pill text-tertiary-orange;
}

.rugged-hover\:rugged:hover, .rugged-active {
    @apply bg-rugged-pill text-tertiary-orange;
}


.normal-pill {
    @apply rounded-md px-5 py-[6px]
}

.small-pill {
    @apply rounded text-xs px-3 py-1;
}

/*Nav bar*/
.nav-link {
    @apply font-semibold text-custom-gray hover:underline hover:underline-offset-4 hover:text-black;
}

.active-link {
    @apply underline underline-offset-4 text-black;
}

/*main content container*/
.content-container {
    @apply mx-7 mb-20 mt-10 2xl:mx-32;
}

@layer base {
    h1 {
        @apply text-[32px] font-bold leading-none mb-8;
    }
}

.detail-label {
    @apply font-bold text-sm;
}

.detail-info {
    @apply font-medium text-sm;
}