@tailwind base;
@tailwind components;
@tailwind utilities;

/*!* ------------------------- *!*/
/*!* Reset                     *!*/
/*!* ------------------------- *!*/

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Set up the body */
body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  color: #161616;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

nav > a {
  text-decoration: none;
}

/* Remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* Custom classes */
.simple {
  @apply bg-simple-pill;
}

.rugged {
  @apply bg-rugged-pill;
}

.luxury {
  @apply bg-luxury-pill;
}

.nav-link {
  @apply hover:underline hover:underline-offset-4 hover:text-black;
}

.content-container {
  @apply mx-7 mb-20 mt-10 2xl:mx-32;
}